{% extends 'base.html.twig' %}

{% block title parent() ~ ' | Movies By Genre' %}

{% block description %}
    Browse your movies by genre.
{% endblock %}

{% block main %}
    <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row mb-5">
                <div class="col-lg">
                    <h1 class="display-4 font-weight-bold">Popular Movies By Genre.</h1>
                </div>
            </div>
            <div class="row mb-4 text-center">
                <div class="col-lg">
                    <div class="row">
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Comedy">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" alt="Comedy Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Sci-Fi">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Sci-Fi._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" alt="Sci-Fi Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Horror">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Horror._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" alt="Horror Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Romance">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Romance._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" alt="Romance Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Action">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Action._CB1513316166_SX233_CR0,0,233,131_AL_.jpg" alt="Action Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Thriller">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Thriller._CB1513316169_SX233_CR0,0,233,131_AL_.jpg" alt="Thriller Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Drama">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Drama._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" alt="Drama Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Mystery">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Mystery._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" alt="Mystery Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Crime">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Crime._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" alt="Crime Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Animation">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Animation._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" alt="Animation Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Adventure">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Adventure._CB1513316166_SX233_CR0,0,233,131_AL_.jpg" alt="Adventure Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Fantasy">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Fantasy._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" alt="Fantasy Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Comedy-Romance">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy-Romance._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" alt="Comedy-Romance Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Action-Comedy">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Action-Comedy._CB1513316166_SX233_CR0,0,233,131_AL_.jpg" alt="Action-Comedy Card">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 mb-2">
                            <div class="card">
                                <a href="#" title="Click to get all top rated movies by Superhero">
                                    <img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Superhero._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" alt="Superhero Card">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
